/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
!/vendor/composer
!/vendor/laravel
!/vendor/bin
!/vendor/autoload.php
.idea
.env.backup
.phpunit.result.cache
!Homestead.json
npm-debug.log
yarn-error.log
/public/css/app.css
/public/js/app.js
