// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$title: 'Schoolbell', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colours Hex
$primary: #C1D32F;
$logoGreen: #014E2E;
$lightLogoGreen: #017243;
$lightGreen: #419572;
$teal: #5FC5B2;
$logoYellow: #C1D32F;
$lightYellow: #FAFFD6;
$grey: #777777;
$lightGrey: #D6D6D6;